@import "variable";

.nav {
  display: flex;
  

  &__list {
    list-style: none;
    display: flex;
    
  }

  &__item {
    display: flex;
    margin: 20px;
  }

  &__link {
    text-decoration: none;
    color: $greencolor;
    transition: $hover-duration;
    padding: 15px 0;
    &:hover {
      color: $blackcolor;
    }
  }
}
