h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Book.ttf");
  font-weight: 400;
  font-style: normal; }

.header {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    height: 100px; }
    @media screen and (max-width: 865px) {
      .header__container {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 60px; } }
  .header__menu {
    background-image: url("../images/menu.png");
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 13px; }
    @media screen and (min-width: 865px) {
      .header__menu {
        display: none; } }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__nav-menu {
    background-image: url("../images/Group 6.1.svg");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: 1px solid #344f10;
    border-radius: 50%; }
    @media screen and (min-width: 865px) {
      .header__nav-menu {
        display: none; } }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo-text {
    margin-left: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
    font-size: 14px;
    line-height: 130%;
    display: none; }
    @media screen and (min-width: 865px) {
      .header__logo-text {
        display: block; } }
  .header__img {
    width: 50px;
    height: 50px;
    border: 1px solid #344f10;
    border-radius: 50%;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: scale-down;
       object-fit: scale-down;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: none; }
    @media screen and (min-width: 865px) {
      .header__img {
        display: block; } }

.menu {
  position: absolute;
  top: -900px;
  width: 100%;
  height: 850px;
  z-index: 2;
  background: #333;
  -webkit-transition: 1s;
  transition: 1s; }
  @media screen and (max-width: 660px) {
    .menu {
      height: 700px; } }
  .menu__show {
    top: 0; }
  .menu__close {
    outline: none;
    border: none;
    background: transparent;
    color: #e4dfd3;
    font-size: 18px;
    position: relative;
    top: 20px;
    left: 25px; }
  .menu__stick {
    position: relative; }
  .menu__underline {
    position: absolute;
    width: 80%;
    height: 1px;
    background: #e4dfd3;
    opacity: 0.5;
    top: 112px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%); }
    .menu__underline::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e4dfd3;
      opacity: 0.7;
      top: 95px;
      left: 0; }
    .menu__underline::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e4dfd3;
      opacity: 0.7;
      top: 189px;
      left: 0; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    @media screen and (max-width: 660px) {
      .menu__list {
        height: 50%; } }
  .menu__item {
    list-style: none; }
  .menu__link {
    font-size: 18px;
    line-height: 130%;
    outline: none;
    text-decoration: none;
    color: #e4dfd3;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .menu__link:hover {
      opacity: 0.7; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav__list {
    list-style: none;
    display: none; }
    @media screen and (min-width: 865px) {
      .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px; }
  .nav__link {
    text-decoration: none;
    color: #344f10;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    padding: 15px 0; }
    .nav__link:hover {
      color: #333; }

.info {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media screen and (max-width: 1372px) {
    .info {
      width: 800px; } }
  @media screen and (max-width: 865px) {
    .info {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .info__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 480px; }
    @media screen and (max-width: 865px) {
      .info__description {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .info__description-head {
    font-size: 60px;
    line-height: 72px;
    color: #333; }
    @media screen and (max-width: 1372px) {
      .info__description-head {
        font-size: 40px;
        line-height: 50px; } }
    @media screen and (max-width: 865px) {
      .info__description-head {
        text-align: center; } }
  .info__description-text {
    color: #333;
    font-size: 22px;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 55px; }
    @media screen and (max-width: 865px) {
      .info__description-text {
        text-align: center; } }
  .info__photo-link {
    overflow: hidden;
    width: 577px;
    height: 451px; }
    @media screen and (max-width: 865px) {
      .info__photo-link {
        margin: 0 auto 20px;
        width: 100%; } }
    @media screen and (max-width: 510px) {
      .info__photo-link {
        height: 267px; } }
  .info__cans {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    @media screen and (max-width: 865px) {
      .info__cans {
        width: 100%; } }
    .info__cans:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  @media screen and (max-width: 865px) {
    .info__button {
      margin: 0 auto; } }

.more-info {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 1372px) {
    .more-info {
      width: 800px; } }
  @media screen and (max-width: 865px) {
    .more-info {
      width: 100%; } }
  .more-info::after {
    content: "";
    position: absolute;
    background: rgba(52, 79, 16, 0.5);
    height: 1px;
    width: 530px;
    left: 0;
    top: -80px; }
    @media screen and (max-width: 865px) {
      .more-info::after {
        display: none; } }
  .more-info::before {
    content: "";
    position: absolute;
    background: rgba(52, 79, 16, 0.5);
    height: 1px;
    width: 530px;
    right: 0;
    bottom: -70px; }
    @media screen and (max-width: 865px) {
      .more-info::before {
        display: none; } }
  .more-info__description {
    color: #333;
    width: 380px;
    font-size: 16px;
    line-height: 150%; }
    @media screen and (max-width: 865px) {
      .more-info__description {
        display: none; } }
  .more-info__article {
    color: #344f10;
    width: 380px;
    letter-spacing: 0.05em;
    text-transform: uppercase; }
    @media screen and (max-width: 865px) {
      .more-info__article {
        font-size: 18px; } }

.section {
  padding: 50px;
  position: relative; }
  @media screen and (max-width: 1372px) {
    .section {
      padding: 20px; } }
  @media screen and (max-width: 865px) {
    .section {
      padding: 0 10px; } }
  .section:nth-child(2) {
    padding-top: 90px;
    position: relative; }
    @media screen and (max-width: 865px) {
      .section:nth-child(2) {
        padding-bottom: 70px; } }
  .section:nth-child(3) {
    padding-top: 200px;
    padding-bottom: 20px; }
    @media screen and (max-width: 865px) {
      .section:nth-child(3) {
        padding: 10px 20px; } }
  .section:nth-child(4) {
    padding-left: 170px; }
    @media screen and (max-width: 1372px) {
      .section:nth-child(4) {
        padding: 60px 20px; } }
  .section:nth-child(5) {
    padding-bottom: 70px; }
  @media screen and (max-width: 865px) {
    .section:last-child {
      padding: 50px 10px; } }

.button {
  background: #333;
  width: 280px;
  height: 60px;
  border: 1px solid black;
  color: #f2f2f2;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer; }
  .button:hover {
    background: black; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 1100px;
  margin: 0 auto; }
  .brand__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 380px;
    margin-right: 150px; }
    @media screen and (max-width: 1372px) {
      .brand__text {
        width: 300px; } }
    @media screen and (max-width: 865px) {
      .brand__text {
        margin: auto; } }
  .brand__article {
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10; }
    @media screen and (max-width: 865px) {
      .brand__article {
        font-size: 24px; } }
    @media screen and (max-width: 865px) {
      .brand__article {
        text-align: center; } }
  .brand__description {
    margin-top: 30px; }
  @media screen and (max-width: 865px) {
    .brand__description:nth-child(2) {
      display: none; } }
  .brand__photo {
    overflow: hidden;
    width: 500px;
    height: 529px;
    -webkit-transform: translateX(-108px);
            transform: translateX(-108px); }
    @media screen and (max-width: 865px) {
      .brand__photo {
        width: 40vw;
        height: 40vw;
        -webkit-transform: translateX(0);
                transform: translateX(0); } }
    @media screen and (max-width: 660px) {
      .brand__photo {
        display: none; } }
  .brand__photo-little {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 130px;
    height: 439px;
    overflow: hidden; }
    @media screen and (max-width: 1372px) {
      .brand__photo-little {
        display: none; } }
  .brand__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .brand__img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .brand__aside {
    position: absolute;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: -135px;
    top: 100px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgba(52, 79, 16, 0.5);
    font-size: 14px;
    line-height: 130%; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.shop {
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 1372px) {
    .shop {
      max-width: 818px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (max-width: 865px) {
    .shop {
      max-width: 600px; } }
  .shop__heading {
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10; }
    @media screen and (max-width: 865px) {
      .shop__heading {
        font-size: 24px; } }
    @media screen and (max-width: 865px) {
      .shop__heading {
        text-align: center; } }
  .shop__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }
    @media screen and (max-width: 865px) {
      .shop__nav-list {
        margin: 0 auto; } }
  .shop__nav-item {
    list-style: none;
    margin: 0 10px 0 0; }
  .shop__nav-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #828282;
    padding: 8px 15px 8px 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .shop__nav-link:hover {
      color: #333; }
    @media screen and (max-width: 865px) {
      .shop__nav-link {
        font-size: 14px; } }
  .shop__nav-active {
    color: #333;
    position: relative; }
    .shop__nav-active::before {
      content: "";
      position: absolute;
      top: 50px;
      width: 50px;
      height: 3px;
      background-color: #333; }
  .shop__products {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1130px;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 1372px) {
      .shop__products {
        width: 105%;
        overflow: visible;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .shop__card {
    width: 380px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 25px; }
    @media screen and (max-width: 865px) {
      .shop__card {
        width: 300px;
        height: 320px;
        margin-right: 0; } }
  @media screen and (max-width: 1450px) {
    .shop__card:last-child {
      display: none; } }
  @media screen and (max-width: 865px) {
    .shop__card:last-child {
      display: none; } }
  @media screen and (max-width: 706px) {
    .shop__card:nth-child(2) {
      display: none; } }
  .shop__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    @media screen and (max-width: 865px) {
      .shop__img {
        height: 267px;
        width: 300px; } }
    .shop__img:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
  .shop__card-text {
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333; }
    @media screen and (max-width: 865px) {
      .shop__card-text {
        text-align: center;
        margin: 5px; } }
  .shop__card-price {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase; }
    @media screen and (max-width: 865px) {
      .shop__card-price {
        text-align: center;
        margin: 5px; } }
  .shop__arrows {
    margin-top: 40px;
    margin-right: auto; }
    @media screen and (max-width: 865px) {
      .shop__arrows {
        margin-right: 0;
        margin-left: auto; } }
    @media screen and (max-width: 706px) {
      .shop__arrows {
        margin: 30px auto 5px; } }
  .shop__arrow-left {
    margin-right: 25px; }
  .shop__button {
    display: block;
    margin: 0 auto; }

.link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #344f10;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .link::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: -3px;
    background: rgba(52, 79, 16, 0.5);
    height: 1px;
    width: 100px; }
  .link:hover {
    color: rgba(52, 79, 16, 0.5); }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.creators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 1372px) {
    .creators {
      width: 100%; } }
  @media screen and (max-width: 660px) {
    .creators {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .creators__text {
    max-width: 380px;
    margin-right: 80px; }
    @media screen and (max-width: 660px) {
      .creators__text {
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (max-width: 660px) {
      .creators__text {
        margin: 0; } }
  .creators__heading {
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10; }
    @media screen and (max-width: 865px) {
      .creators__heading {
        font-size: 24px; } }
    @media screen and (max-width: 660px) {
      .creators__heading {
        text-align: center; } }
  .creators__paragraph {
    margin-bottom: 25px; }
  @media screen and (max-width: 982px) {
    .creators__paragraph:nth-child(3) {
      display: none; } }
  .creators__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px; }
    @media screen and (max-width: 865px) {
      .creators__link {
        margin-bottom: 10px; } }
  .creators__aside {
    left: -114px;
    top: 125px; }
    @media screen and (max-width: 865px) {
      .creators__aside {
        display: none; } }
  @media screen and (max-width: 982px) {
    .creators__photo {
      height: 51vw;
      overflow: hidden; } }
  @media screen and (max-width: 660px) {
    .creators__photo {
      display: none; } }
  .creators__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
    @media screen and (max-width: 982px) {
      .creators__img {
        height: 51vw;
        overflow: hidden; } }
  @media screen and (max-width: 865px) {
    .creators__button {
      margin: 0 auto; } }

.aside {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(52, 79, 16, 0.5);
  font-size: 14px;
  line-height: 130%; }
  @media screen and (max-width: 1372px) {
    .aside {
      display: none; } }
  .aside:after {
    content: "";
    position: absolute;
    top: 9px;
    left: -108px;
    background: rgba(52, 79, 16, 0.5);
    height: 1px;
    width: 100px; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.ingredients {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1100px;
  margin: 50px auto 150px; }
  @media screen and (max-width: 1372px) {
    .ingredients {
      width: 100%; } }
  @media screen and (max-width: 865px) {
    .ingredients {
      width: 100%;
      margin-bottom: 30px; } }
  .ingredients__aside {
    left: -130px;
    top: 125px; }
  .ingredients__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .ingredients__heading {
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
    margin: 50px 0 0; }
    @media screen and (max-width: 865px) {
      .ingredients__heading {
        font-size: 24px; } }
    @media screen and (max-width: 510px) {
      .ingredients__heading {
        margin: -80px 0 0;
        width: 16vw; } }
  .ingredients__description {
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-items: end;
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
    @media screen and (max-width: 510px) {
      .ingredients__description {
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px); } }
  @media screen and (max-width: 1440px) {
    .ingredients__vector {
      width: 100%;
      overflow: hidden; } }
  @media screen and (max-width: 865px) {
    .ingredients__vector {
      overflow: hidden; } }
  @media screen and (max-width: 865px) {
    .ingredients__vector {
      padding-right: 2vw; } }
  @media screen and (max-width: 510px) {
    .ingredients__link {
      margin: 0 0 -61px; } }
  .ingredients__list {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translate(-170px, 0);
            transform: translate(-170px, 0);
    width: 20vw; }
    @media screen and (max-width: 982px) {
      .ingredients__list {
        -webkit-transform: translate(-80px, 0);
                transform: translate(-80px, 0); } }
  .ingredients__item {
    position: relative; }
    .ingredients__item::after {
      content: "";
      position: absolute;
      top: 12px;
      right: -95px;
      background: #333;
      width: 76px;
      height: 1px; }
    .ingredients__item::before {
      content: "";
      position: absolute;
      background: #333;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      right: -97px;
      top: 10px; }
      @media screen and (max-width: 865px) {
        .ingredients__item::before {
          display: none; } }

.natural {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 100px; }
  @media screen and (max-width: 865px) {
    .natural {
      grid-template-columns: 200px;
      grid-gap: 40px;
      margin-bottom: 20px; } }
  .natural__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .natural__paragraph {
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.contact {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 660px) {
    .contact {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 50px; }
    @media screen and (max-width: 865px) {
      .contact__form {
        margin-right: 0; } }
  .contact__aside {
    left: -58px;
    bottom: 219px; }
  .contact__heading {
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10; }
    @media screen and (max-width: 865px) {
      .contact__heading {
        font-size: 24px; } }
  .contact__paragraph {
    max-width: 380px;
    font-size: 24px;
    line-height: 150%; }
    @media screen and (max-width: 1372px) {
      .contact__paragraph {
        font-size: 16px; } }
  @media screen and (max-width: 500px) {
    .contact__button {
      width: 60vw;
      margin: auto; } }
  .contact__input {
    background: #e4dfd3;
    margin-top: 10px;
    height: 50px;
    width: 480px;
    outline: none;
    border: none;
    border-bottom: 1px solid #bdbdbd; }
    .contact__input:focus {
      border-bottom: 1px solid #344f10; }
    .contact__input::-webkit-input-placeholder {
      text-transform: capitalize;
      font-size: 18px;
      line-height: 150%;
      font-family: avenir, sans-serif; }
    .contact__input::-moz-placeholder {
      text-transform: capitalize;
      font-size: 18px;
      line-height: 150%;
      font-family: avenir, sans-serif; }
    .contact__input:-ms-input-placeholder {
      text-transform: capitalize;
      font-size: 18px;
      line-height: 150%;
      font-family: avenir, sans-serif; }
    .contact__input::-ms-input-placeholder {
      text-transform: capitalize;
      font-size: 18px;
      line-height: 150%;
      font-family: avenir, sans-serif; }
    .contact__input::placeholder {
      text-transform: capitalize;
      font-size: 18px;
      line-height: 150%;
      font-family: avenir, sans-serif; }
    @media screen and (max-width: 1372px) {
      .contact__input {
        width: 280px;
        height: 40px; } }
    @media screen and (max-width: 500px) {
      .contact__input {
        width: 70vw;
        margin: 10px auto; } }
  .contact__input-textarea {
    padding: 30px 0; }
  .contact__photo {
    width: 550px;
    height: 584px;
    overflow: hidden; }
    @media screen and (max-width: 1372px) {
      .contact__photo {
        width: 368px;
        height: 409px; } }
    @media screen and (max-width: 660px) {
      .contact__photo {
        display: none; } }
  .contact__img {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .contact__img:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    @media screen and (max-width: 1372px) {
      .contact__img {
        width: 368px;
        height: 409px; } }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid gray;
  -webkit-text-fill-color: gray;
  -webkit-box-shadow: 0 0 0 1000px #e4dfd3 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s; }

.footer {
  background: rgba(52, 79, 16, 0.5);
  height: 329px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 510px) {
    .footer {
      height: 400px; } }
  .footer__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 200px;
    grid-template-columns: minmax(200px, 480px) minmax(200px, 480px); }
    @media screen and (max-width: 1372px) {
      .footer__container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-gap: 50px; } }
    @media screen and (max-width: 510px) {
      .footer__container {
        grid-template-columns: 1fr; } }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__nav-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }
    @media screen and (max-width: 865px) {
      .footer__nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer__nav-item {
    margin: 0 20px 0 0;
    padding: 7px 0; }
  .footer__nav-link {
    margin: 0;
    text-decoration: none;
    color: #e4dfd3;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 18px;
    line-height: 130%;
    padding: 15px 0; }
    .footer__nav-link:hover {
      color: #333; }
    .footer__nav-link:focus {
      text-decoration: underline;
      color: lightgray; }
  .footer__copyright {
    color: #e4dfd3;
    font-size: 18px;
    line-height: 130%;
    display: block; }
    @media screen and (max-width: 510px) {
      .footer__copyright {
        display: none; } }
  .footer__paragraph {
    color: #e4dfd3;
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 130%; }
  .footer__img {
    margin: 0 10px 0 0; }
  .footer__socials {
    display: block; }
    @media screen and (max-width: 865px) {
      .footer__socials {
        display: none; } }
  .footer__socials-hidden {
    display: none; }
    @media screen and (max-width: 865px) {
      .footer__socials-hidden {
        display: block; } }
  .footer__img-hide {
    margin: 6px 19px 0 0; }
  .footer__copyright-hidden {
    display: block; }
    @media screen and (max-width: 1372px) {
      .footer__copyright-hidden {
        display: none; } }
  .footer__copyright-hide {
    color: #e4dfd3;
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 130%;
    display: none; }
    @media screen and (max-width: 510px) {
      .footer__copyright-hide {
        display: block; } }

.almond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto; }
  @media screen and (max-width: 865px) {
    .almond {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .almond__photo {
    width: 500px;
    height: 468px;
    overflow: hidden; }
    @media screen and (max-width: 1372px) {
      .almond__photo {
        width: 466px;
        height: 440px; } }
    @media screen and (max-width: 510px) {
      .almond__photo {
        width: 280px;
        height: 248px; } }
  .almond__img {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .almond__img:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  @media screen and (max-width: 865px) {
    .almond__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 15px; } }
  .almond__head {
    font-size: 24px;
    line-height: 130%;
    color: #333; }
  .almond__price {
    font-size: 18px;
    line-height: 130%;
    color: #344f10; }
  .almond__weight {
    font-size: 18px;
    line-height: 130%; }
  .almond__ingredients {
    max-width: 380px;
    margin: 30px 0; }
  .almond__ingredients_green {
    color: #344f10; }
  .almond__button {
    margin-top: 30px; }

.checkout {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  .checkout__head {
    display: block;
    text-align: center;
    margin: 30px auto 0;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 130%;
    color: #344f10; }
  .checkout__nav {
    margin: 20px auto; }
  .checkout__list {
    display: grid;
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
    list-style: none; }
    @media screen and (max-width: 865px) {
      .checkout__list {
        -webkit-column-gap: 30px;
           -moz-column-gap: 30px;
                column-gap: 30px; } }
  .checkout__link {
    text-decoration: none;
    color: #828282;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .checkout__link:hover {
      color: #333; }
  .checkout__active-link {
    color: #333; }
    .checkout__active-link::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      -webkit-transform: translateY(35px);
              transform: translateY(35px);
      background: #333; }
  .checkout__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 220px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 865px) {
      .checkout__form {
        grid-template-columns: 278px; } }
  .checkout__input {
    background: #e4dfd3;
    margin-top: 10px;
    height: 50px;
    width: 480px;
    outline: none;
    border: none;
    border-bottom: 1px solid #bdbdbd; }
    @media screen and (max-width: 1372px) {
      .checkout__input {
        width: 278px; } }
    .checkout__input:focus {
      border-bottom: 1px solid #344f10; }
    .checkout__input::-webkit-input-placeholder {
      text-transform: capitalize;
      font-size: 18px;
      line-height: 150%;
      font-family: avenir, sans-serif; }
    .checkout__input::-moz-placeholder {
      text-transform: capitalize;
      font-size: 18px;
      line-height: 150%;
      font-family: avenir, sans-serif; }
    .checkout__input:-ms-input-placeholder {
      text-transform: capitalize;
      font-size: 18px;
      line-height: 150%;
      font-family: avenir, sans-serif; }
    .checkout__input::-ms-input-placeholder {
      text-transform: capitalize;
      font-size: 18px;
      line-height: 150%;
      font-family: avenir, sans-serif; }
    .checkout__input::placeholder {
      text-transform: capitalize;
      font-size: 18px;
      line-height: 150%;
      font-family: avenir, sans-serif; }
  .checkout__button {
    grid-column: 1 / 3;
    margin: 60px auto 0; }
    @media screen and (max-width: 865px) {
      .checkout__button {
        grid-column: 1; } }
  .checkout__choose-text {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #333; }
  .checkout__choose-payment {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 865px) {
      .checkout__choose-payment {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .checkout__choose-icon {
    margin-top: 20px;
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .checkout__choose-img {
    margin: 0 auto; }
  .checkout__choose-delivery {
    margin-top: 10px;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #333; }
  .checkout__payment-button {
    margin: 40px auto;
    display: block; }
  .checkout__accepted {
    text-align: center;
    color: #333;
    font-size: 48px;
    line-height: 72px; }
    @media screen and (max-width: 865px) {
      .checkout__accepted {
        font-size: 24px;
        line-height: 130%; } }
  .checkout__accepted-img {
    display: block;
    margin: 20px auto; }
  .checkout__back-shop {
    position: absolute;
    left: 75px;
    bottom: -105px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .checkout__back-shop::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: #333;
      -webkit-transform: translate(-117px, 12px);
              transform: translate(-117px, 12px); }
      @media screen and (max-width: 865px) {
        .checkout__back-shop::before {
          -webkit-transform: translate(0, 30px);
                  transform: translate(0, 30px); } }
    .checkout__back-shop:hover {
      color: #344f10; }
    @media screen and (max-width: 865px) {
      .checkout__back-shop {
        top: 120%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); } }

html {
  font-family: avenir, sans-serif; }

body {
  background: #e4dfd3; }

body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0; }

p {
  font-size: 16px;
  line-height: 150%;
  color: #333; }

a {
  outline: none; }

/*# sourceMappingURL=main.css.map */
